html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url(./images/background.jpg);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-content: space-between;
}

.calc {
    margin-right: 60%;
    margin-left: 10%;
	background-color: rgb(100, 55, 55);
	color: antiquewhite;
	padding: 10px;
	border-radius: 10px;
	opacity: 0.85;
}

.alarm {
    align-self: end;
    float: right;
	text-align: center;
	background-color: rgb(100, 55, 55);
	color: antiquewhite;
	padding: 10px 10px 20px;
	border-radius: 10px;
	opacity: 0.7;
}

.quote {
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 5px;
	color: antiquewhite;
	font-size: 1.5em;
	background: linear-gradient(90deg, rgb(70, 13, 3) 0%, rgba(128,23,23,1) 50%, rgba(70, 13, 3) 100%);
	opacity: 0.8;
}

.text {
    margin-top: 50px;
    margin-left: 10%;
	font-size: 2em;
	background-color: rgb(209, 184, 151);
	opacity: 0.9;
}

h1 {
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;
	color: white;
	background: -webkit-linear-gradient(90deg, rgb(170, 37, 14) 0%, rgba(128,23,23,1) 50%, rgba(170, 37, 14) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 10px;
}

#anchor {
	display: none;
	text-decoration: none;
	background-color: rgb(0, 0, 0);
	padding: 5px;
}

#save {
	
	background-color: greenyellow;
}